body{
    background-color: #000;
    color: #fff;
    font-family: serif;
}
.centerr{
    width: 30%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    
}

.borderless td, .borderless th {
    border: none !important;
}
 
h1{
    padding-top: 100px;
}
